.corner-frame {
    position: relative;
    padding: 5%;
    margin: 10% 0 0 10%;
  }

  .corner-frame::before,
  .corner-frame::after {
    content: '';
    position: absolute;
    border: 2px solid #000;
    pointer-events: none;
  }

  .corner-frame::before {
    border-bottom: none;
    border-right: none;
    top: 0;
    left: 0;
    width: clamp(100px, 150px, 35%);
    height: clamp(100px, 150px, 35%);
  }

  .corner-frame::after {
    border-top: none;
    border-left: none;
    bottom: 0;
    right: 0;
    width: clamp(100px, 150px, 35%);
    height: clamp(100px, 150px, 35%);
  }
  
  @media screen and (max-width: 500px) {
    .corner-frame {
      margin: 0;
      padding: 0;
    }

    .corner-frame::before,
    .corner-frame::after {
      display: none;
    }
  }