.border {
    position: relative;
    padding: 5%;
    margin-top: 5%;
  }

  .border::before,
  .border::after {
    content: '';
    position: absolute;
    border: 2px solid var(--primaryColour);
    pointer-events: none;
  }

  .border::before {
    border-bottom: none;
    border-right: none;
    top: 0;
    left: 0;
    animation: animateBorder 2s normal forwards;
  }

  .border::after {
    border-top: none;
    border-left: none;
    bottom: 0;
    right: 0;
    animation: animateBorder 2s normal forwards;
  }
  
  @media screen and (max-width: 500px) {
    .border {
      margin: 0;
      padding: 0;
    }

    .border::before,
    .border::after {
      display: none;
    }
  }

@keyframes animateBorder {

  0% {
    width: 0;
    height: 0;
  }

  100% {
    width: clamp(100px, 150px, 35%);
    height: clamp(100px, 150px, 35%);
  }
}