/* :root {
  --backgroundColour: #f9f9f9;
  --textColour: #4a4a4a;
  --primaryColour: #1d7484;
  --secondaryColour: #982c61;
  --accentColour: #144f5a;
} */

.button {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    background-color: var(--backgroundColour);
    color: var(--primaryColour);
    border-radius: 1px;
    border: 1px solid var(--primaryColour);
    cursor: pointer;
    box-sizing: border-box;
  }

  .button {
    color: var(--primaryColour);
    text-decoration: none;
  }

  .button[disabled] {
    cursor: default;
    opacity: 0.5;
  }
  .button:hover {
    background-color: var(--secondaryColour);
    color: var(--backgroundColour);
    outline: 0;
  }
  .button:focus-visible {
    outline-style: solid;
    outline-width: 2px;
  }

  /* button positioning styles */
  .button-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

