:root {
  --backgroundColour: #02020a;
  --textColour: #e1e2efc4;
  --primaryColour: #b497d6;
  --secondaryColour: #05204a;
  --accentColour: #bfacaa;
}

html {
    all: unset;
    font-size: 62.5%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

body {
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: 2;
    font-size: 1.8rem;
    background-color: var(--backgroundColour);
    color: var(--textColour);
    overflow-x: hidden;
}

main {
    line-height: 1.618;
    max-width: 80%;
    margin: auto 20%;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    font-weight: 700;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
    margin: 0;
}
  
h1 {
  font-size: 2.35em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1em;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
}

hr {
  border-color: var(--primaryColour);
}

a {
  text-decoration: underline;
  color: var(--textColour);
}
a:visited {
  color: var(--textColour);
}
a:hover {
  color: var(--primaryColour);
  text-decoration: none;
  border-bottom: 2px solid #4a4a4a;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0px;
  margin-bottom: 2.5rem;
}

li {
  margin-bottom: 0.4em;
}

img {
  height: auto;
  max-width: 100%;
  margin: 2% 0 ;
  border-radius: 16px;
  filter: brightness(0.8);
}

@media screen and (max-width: 500px) {
    main {
      max-width: 90%;
      margin: auto 5%;
    }
    img {
        margin: 5% 0;
        max-width: 100%;
    }
  
}